# AWS deployment environment variables for deploy/docker-compose.aws.yml

# Docker Hub
DOCKERHUB_USERNAME=your_dockerhub_username
IMAGE_TAG=latest

# MySQL
MYSQL_ROOT_PASSWORD=root@123
MYSQL_USERNAME=root
MYSQL_PASSWORD=root@123

# JWT
JWT_SECRET=replace_with_a_very_long_random_secret_min_64_chars

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# SMTP
MAIL_USERNAME=careerbridge12345@gmail.com
MAIL_PASSWORD="lfvn plpj gpqn tymt"

# Optional tracing
TRACING_ENABLED=false
TRACING_SAMPLING_PROBABILITY=0.0
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
